ssh_user: <your_ssh_user>
ssh_key: ssh-rsa <your_key>
project_name: <your_project_name>
box_hostname_prefix: <some_prefix>
provisioner: salt
# provisioner: chef
# provisioner: ansible
default_box: bento/centos-7
# default_box: bento/debian-9
